html, body {
  background: #FFFBFB;
  font-family: 'Kosugi Maru', sans-serif;
  margin-top: 40px;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

p {
  color: red;
  font-size: 60px;
}

.heart {
  grid-row-start: 1;
  grid-row-end: 4;
}

.grid-image {
  width: 330px;
  display: inline-block;
  color: red;
  height: auto;
  text-align: center;
  line-height: 330px;
}

.grid {
  margin: 0 auto;
  width: 960px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}