html, body {
  background: #FFF3F3;
  font-family: 'Kosugi Maru', sans-serif;
  margin: 40px 20px;
  color: #7C7474;
}

* {
  box-sizing: border-box;
}

p {
  color: red;
  font-size: 60px;
}

.container {
  max-width: 1120px;
}

.heart {
  grid-row-start: 1;
  grid-row-end: 4;
}

.grid-heading {
  text-align: left;
  margin-bottom: 40px;
  font-size: 16px;
  text-transform: uppercase;
}

.grid-image {
  width: 280px;
  display: inline-block;
  color: red;
  height: auto;
  text-align: center;
  line-height: 330px;
}


.grid {
  justify-items: center;
  margin: 0 auto;]
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 12px;
  column-gap: 12px;
}

.counter {
  float: right;
}