html, body {
  background: #ffee00;
  font-family: 'Kosugi Maru', sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  color: red;
  font-size: 60px;
}

.grid-image {
  max-width: 330px;
  display: inline-block;
  color: red;
  height: auto;
}

.grid {
  width: 960px;
}